:root {
  --main-color: lime;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container{
  width: 1170px;
  padding: 15px 0 15px 0;
  margin: auto;
}

/* Start Settings Box */
.settings-box {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100vh;
  background-color: white;
  z-index: 1000;
  transition: 0.5s;
}

.settings-box.open {
  left: 0;
}

.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.settings-box .toggle-settings .fa-gear {
  padding: 8px 0px;
  width: 30px;
}

.settings-box .option-box {
  padding: 10px;
  text-align: center;
  background-color: #a3a2a2;
  margin: 10px;
}

.settings-box .option-box h4 {
  margin: 0;
  color: #333131;
  font-size: 14px;
}

.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 8px 0 0
}

.settings-box .option-box .colors-list li {
  width: 24px;
  height: 24px;
  background-color: #333;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #a3a2a2;
}

.settings-box .option-box .colors-list li.active {
  border-color: #fff;
}

.settings-box .option-box .colors-list li:first-child {
  background-color: lime;
}

.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: orange;
}

.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: blueviolet;
}

.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: crimson;
}

.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: gold;

}

.settings-box .random-backgrounds .yes,
.settings-box .random-backgrounds .no {
  background-color: var(--main-color);
  width: 50px;
  display: inline-block;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  opacity: .5;
  border-radius: 5px;
  cursor: pointer;
}

.settings-box .random-backgrounds span.active {
  opacity: 1;
}


/* End Settings Box */
/* Start Landing Page */
.landing-page {
  min-height: 100vh;
  background-image: url(../images/img5.jpg);
  background-size: cover;
  position: relative;
}

.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;

}

.header-area {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  padding: 10px;
}

.header-area .logo {
  width: 300px;
  font-weight: 700;
  padding: 15px;
}

.header-area .links {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-left: 0;
  padding-right: 15px;


}

.header-area .links li {
  display: inline-block;
  margin-left: 10px;

}

.header-area .links li a {
  text-decoration: none;
  color: white;
  transition: .5s;
}

.header-area .links li a:hover,
.header-area .links li a.active {
  color: var(--main-color);
}

.introdaction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white;
  text-align: center;
  width: 80%;
}

.introdaction-text h1 {
  font-size: 40px;
  margin: 0 0 12px;

}

.introdaction-text h1 span {
  color: var(--main-color);
}

.introdaction-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}

/* End Landing Page */

/* Start About Us */

.about-us{
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;

}
.about-us .info-box{
  flex: 1;
}
.about-us .info-box h2{
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 30px;

}
.about-us .info-box p{
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.about-us .image-box{
  flex: 1;
  text-align: right;
}
.about-us .image-box img{
  width: 250px;

}
/* End About Us */

/* Start Our Skills */

.skills{
  background-color: #eee;
  padding-top: 50px;
  padding-bottom: 50px;

}

.skills h2{
  color: var(--main-color);
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 50px;
  padding: 30px;
  text-align: center;
}

.skills .skill-box{
  background-color: #fff;
  display: flex;
  margin-bottom: 15px;
  padding: 15px;
}

.skills .skill-box .skill-name{
  line-height: 30px;
  width: 140px;
  text-align: center;
  font-weight: bold;
}

.skills .skill-box .skill-progress{
  height: 30px;
  width: 100%;
  background-color:#f6f6f6;
  border-radius: 6px;
  position: relative;
}

.skills .skill-box .skill-progress span{
  position: absolute;
  left: 0;
  top: 0;
  width: 90%;
  height: 100%;
  background-color: var(--main-color);
}
/* End Our Skills */